@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:400,700&display=swap&subset=latin-ext');

:root{
  --background : #232946;
  --card-bg: #f9bc60;
  --buton-bg : #b8c1ec;
  --font-color : #232946;
  --headline : #fffffe;
  --link : #b8c1ec;
  --light : #fffffe;
}
body {
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

google-codelab #drawer ol li a:hover{
  background-color: var(--background);
  color: var(--link);
  transition: all 0.25s ease;
}

google-codelab #drawer ol li a {
  color: var(--background);
  transition: all 0.25s ease;
  font-family: 'Quicksand', sans-serif;
}
